body{
	background-color: #4f4f4f;
	margin:0;
	font-family: Arial, sans-serif;
}
button{
	cursor: pointer;
}
.modebtn{
	text-align: center;
	height: 50px;
	width: 250px;
	border-radius: 15px;
	background-color: #d60a33;
	border: none;
	color: white;
	font-size: 18px;
}
.modebtn:hover{
	width: 265px;
}
.fsmenu{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	font-size: 18px;
	color: white;
}

.bigimp{
	height: 45px;
	width: 245px;
	border-radius: 15px;
	border: none;
	text-align: center;
	font-size: 18px;

}
.sidemenu{
	width: 80vmin;
	height: 10vh;
	justify-content: center;
	align-content: center;
}
.sidemenu > button{
	color: white;
	background-color: #d60a33;
	border: none;
	width: 30%;
	height: 70%;
	border-radius: 2rem
}
.timebit{
	width: 80vmin;
	height: 17.5vh;
	vertical-align: middle;
	line-height: 17.5vh;
	font-size: 40px;
	color: white;
}
.timer_m{
	display: none;
}
#room_wait > div > input[type="radio"]{
	opacity: 0;
	position: absolute;
}
#cimps > input[type="text"]{
	border: none;
	border-radius: 1rem;
	height: 15px;
	width: 60px;
}
#room_wait > div> label{
	border-radius: 1rem;
	height: 30px;
	width: 100px;
	display: inline-flex;
	color: white;
	border: none;
	background-color: #424242;
	justify-content: center;
	align-items: center;
}
#room_wait > div> input:checked+label{
	background-color: #d60a33;
}
#cimps{
	display: none;
	align-items: center;
	justify-content: space-between;
	width: 200px;
}
#sidemenu_play{
	display: flex;
}
#sidemenu_over{
	display: none;
}
#play{
	height: 80vmin;
	width:80vmin;
	margin-top: 6vh;
}
#topmenu{
	height: 8vh;
	background-color: #676670;
}
#topmenu > button{
	height: 100%;
	color: white;
	background-color: #676670;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #d60a33;
	width: 100px;
}
#topmenu > button:hover{
	border-bottom-width: 5px; 
}
#chat{
	position:absolute;
	width: 80vmin;
	height: 35vh;
	background-color: #3b3b3b;
	border-radius: 10px;
}

#msg_box{
	width: 80vmin;
	height: 25vh;
	scroll-behavior: smooth;
	overflow-y: scroll;
}
#timer{
	width: 80vmin;
	height: 35vh;
	margin-top: 6vh;
}
#online_setup{
	display:none;
}
#code{
	font-size: 28px;
	color: white;
	letter-spacing: 4px;
}
#code_contain{
	display: none;
	justify-content: center;
	align-items: center;
	gap: 30px;
	flex-direction: column;
}
#code_entry{
	display: none;
}
#code_submit{
	display: none;
}
#code_error{
	display: none;
	color: red;
}
#room_wait{
	display: none;
}
#play_page{
	display: none;
	justify-content: center;
}
#board{
	margin-right: 10px;
}
#playing_interface{
	margin-left: 10px
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#messages > li {
	padding: 0.3rem 0.5rem;
	color: white;
}
#form {
	padding: 0.25rem;
	position: absolute;
	width: 80vmin;
	display: flex;
	height: 7vh;
	box-sizing: border-box;
	bottom:0;
	align-items: center;
}
#form > button{
	border-radius: 2rem;
	flex-grow: 2;
	border: none;
	background-color: #d60a33;
	color: white;
	height: 80%;
}
#form > input {
	border: none;
	padding: 0 1rem;
	flex-grow: 8;
	border-radius: 2rem;
	margin: 0.25rem;
	height: 80%;
}
#error{
	display: none;
	color: red;
}
@media only screen and (max-device-width: 480px){
	.fsmenu{
		gap: 4vh;
		font-size: 5.4vw;
	}
	.modebtn{
		width: 70vw;
		height: 15vw;
		border-radius: 4.5vw;
		font-size: 5.4vw
	}
	.bigimp{
		font-size: 5.4vw;
		width: 70vw;
		height: 15vw;
		border-radius: 4.5vw;
	}
	.timer_m{
		display: inline-flex;
		color: white;
		margin-top: 3vh;
		margin-bottom: 3vh;
		font-size: 4.5vh;
	}
	#board{
		margin-right: 0px;
		display: flex;
		align-items: center;
		flex-direction: column;

	}
	#timer{
		display: none;
	}
	#room_wait > div> label{
		font-size: 4.5vw;
		width: 23vw;
		height: 12vw;
		border-radius: 4.5vw;
	}
	#cimps{
		width: 65vw
	}
	#cimps > input[type="text"]{
		border: none;
		border-radius: 1rem;
		height: 5vw;
		width: 18vw;
	}
	#code_contain{
		gap: 4vh;
	}
	#code_contain > span{
		text-align:center
	}
	#code{
		font-size: 6.5vw;
		color: white;
		letter-spacing: 4vw;
	}
	#play_page{
		align-items: center;
		flex-direction: column;
	}
	#play{
		height: 95vmin;
		width:95vmin;
		margin-top: 0px;
	}
	.sidemenu > button{
		width: 80%;
		height: 55%;
		border-radius: 2rem;
		font-size: 4.5vw;
	}
	#playing_interface{
		font-size: 4.5vw;
	}
	#form{
		width: 80vmin;
	}
	#form > button{
		font-size: 4.5vw;
	}
	#form > input{
		font-size: 4.5vw;
	}
}